<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="elasticsearch">
      <section name="core" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="qa" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
  </configSections>
  <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <elasticsearch>
    <core>
      <add key="url" value="https://XXXXXXXXXXXXX.us-east-1.aws.found.io:9243" />
      <add key="username" value="elastic" />
      <add key="password" value="XXXXXXXXXXXXX" />
      <add key="view-raw-request" value="true" />
      <add key="index-root" value="ms-core-dev" />
      <add key="default-page-size" value="25" />
      <add key="context-around-hit" value="10" />
    </core>
    <qa>
    </qa>
  </elasticsearch>
</configuration>
